.advantage-block.site-block
	.container
		.site-block--header
			h2 Почему
				|
				|
				strong мини-сауна
				|
				| нужна каждому
		.advantage-list
			.row
				-
					var values = [
						'Заменит баню/сауну',
						'Подтянет и омолодит кожу',
						'Поможет при простуде',
						'Снимет усталость',
						'Избавит от лишних килограммов',
						'Успокоит нервы',
						'Уменьшит боль в суставах и мышцах',
						'Повысит иммунитет',
						'Улучшит пищеварение',
						'Очистит организм от шлаков и токсинов'
					]
				each val in values
					.col-sm-6
						.advantage-item
							p= val
