.footer-block
	.container
		footer.footer
			.logo-min
				a(href="/")
					include ../svg/logo.svg
			.footer-text
				p
					| Приобретая продукты центра, вы соглашаетесь с условиями:<br>
					a(href="javascript:;") Договора оферты
					|
					| и
					|
					a(href="javascript:;") Договора защиты персональных данных
	.foot-block
		.container
			.foot
				.copy.left
					p © 2017 ООО «Родник»
				.made.right
					.created
						a(
							href="http://kontur-lite.ru",
							target="_blank"
						)
							span Создание сайтов -
							include ../svg/made.svg
					.promotion
						a(
							href="http://kontur-promo.ru",
							target="_blank"
						)
							span Продвижение сайтов -
							include ../svg/promotion.svg

