.info-block
	.info-block--images
		img(src="../images/info-bg.jpg")
	.container
		.row
			.col-sm-6.col-sm-offset-6
				.info--wrap
					.info
						.info--head__smal
							p Ваш личный
						.info--head
							p SPA-салон
						.info--strong
							p Мини-сауна из Алатайского кедра
						.info--text
							p Принцип действия мини-сауны (кедровая бочка) прост - внутри нее, с помощью парогенератора, поддерживается высокая температура. Пар, насыщенный сборами лекарственных трав, обволакивает тело со всех сторон - снаружи остается только голова. Благодаря воздействия пара увеличивается потоотделение, а это означает, что вместе с потом шлаки и токсины выводятся из организма.
	a.mouse(href="#block_1")
		.mouse-scrol
