.slider-block
	.slider-block--controls
		.slider-controll--prew
			i.fa.fa-angle-left

		.slider-controll--next
			i.fa.fa-angle-right

	.main-slider#main-slider(data-stellar-ratio="0.5")
		.main-slider--item.slider-item(style='background-image: url(./images/slide-1.jpg)')
			img.main-slider--img
			.slider-item--content(data-stellar-ratio="1.35")
				.container
					.slider-item--header
						p  Lorem ipsum dolor.
					.slider-item--text
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga earum debitis eaque similique, hic molestiae voluptatibus consequuntur ipsam quas alias cum corporis expedita. Labore, odio repellat voluptas, est soluta dolorem?

		.main-slider--item.slider-item(style='background-image: url(./images/slide-2.jpg)')
			img.main-slider--img
			.slider-item--content
				.container
					.slider-item--header
						p  Lorem ipsum dolor2.
					.slider-item--text
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, accusantium.
					a(href="javasript:;")#callback-button.button.button__light Call me

		.main-slider--item.slider-item(style='background-image: url(./images/slide-3.jpg)')
			img.main-slider--img
			.slider-item--content
				.container
					.slider-item--header
						p  Lorem ipsum dolor3.
					.slider-item--text
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est omnis, recusandae ab provident eius eos.
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias debitis reprehenderit nesciunt inventore iusto culpa molestiae harum quae repellendus suscipit!
		.main-slider--item.slider-item(style='background-image: url(./images/slide-4.jpg)')
			img.main-slider--img
			.slider-item--content
				.container
					.slider-item--header
						p  Lorem ipsum dolor4.
					.slider-item--text
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga earum debitis eaque similique, hic molestiae voluptatibus consequuntur ipsam quas alias cum corporis expedita. Labore, odio repellat voluptas, est soluta dolorem?