.video-block.site-block
	.container
		.site-block--header
			h2
				strong Видеообзор
		.video--wrap
			iframe(
				src="https://www.youtube.com/embed/Xho2ZZCJvXo",
				frameborder="0",
				allowfullscreen,
			)
